.HeroSection form {
    border: 2px solid #095f59;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    border-radius: 3rem;
    padding: 0.5rem;
}

.HeroSection form #find-funding{
    border: none;
    margin-left: 1rem;
    background-color: #faf1d7;
    width: -moz-available;
}

.HeroSection form #find-funding:focus{
    border: none !important;
    outline: none;
}

.HeroSection form button {
    padding: 1.3rem 2.6rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: #095f59;
}

.card h2, .card p{
    margin: 0;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card {
    border-radius: 2rem;
    padding: 2.5rem;
    background: #fff;
    border: 1px solid #ffd661;
}

.card-footer{
    margin-top: 1rem;
}

.card .card-footer .btn{
    padding: 0.5rem 1rem;
    border: none;
    background: #095f59;
    border-radius: 0.3rem;
    color: #fff;
}

main {
    background-color: #faf1d7;
}