.page-heading-section h1 {
    font-size: 2rem;
}

.page-heading-section small {
    font-size: 1rem;
}


/* body {
  padding: 3rem;
  padding-top: 1rem;
} */

body, main{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 600px) {
    /* CSS rules for screens smaller than 600px */
    main {
      padding: 0.25rem;
    }
    .card.graph-card {
      display: none;
    }
    .banner-area {
      margin: 2rem;
    }
    
    .card-row{
      flex-direction: column;
    }
  }
  
  /* Styles for screens between 600px and 900px */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    /* CSS rules for screens between 600px and 900px */
    main {
      padding: 0;
    }
    .banner-area {
      margin: 2rem;
    }
    
    .card-row{
      flex-direction: column;
    }
    .card.graph-card {
      display: none;
    }
  }
  
  /* Styles for screens larger than 900px */
  @media only screen and (min-width: 901px) {
    /* CSS rules for screens larger than 900px */
    .banner-area {
      margin: 2rem;
      margin-left: 0;
    }
    
    main {
      padding: 3rem;
      background-color: #fffcf1;
    }
  }
  
  header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
  }
  
  header h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .card-title {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .stacked-cards{
    height: fit-content;
  }
  
  article {
    margin: .25rem;
  }
  
  header nav {
    display: flex
  }
  
  .navbar {
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  main .banner-area h2 {
    margin: 0;
    font-size: 2rem;
  }
  
  p, h3 {
    margin: 0;
  }
  
  .card.graph-card {
    padding: 2rem 0 !important;
    width: 50%;
  }
  
  .card.graph-card h3, .card.graph-card small, .card.graph-card p{
    padding: 0 2rem;
  } 
  
  .stacked-cards > :first-child{
    background: #00000000;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  
  .stacked-cards > :last-child {
    background: #000000ab;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  
  .stacked-cards {
    border-radius: 2rem;
  }
  
  .stacked-cards h3, .card-group h3{
   font-weight: inherit;
   font-size: 1rem;
   color: #555;
  }
  
  .stacked-cards big, big {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .stacked-cards section {
    background: #0000004f;
    padding: 2rem;
    text-align: center;
    padding-top: 2.8rem;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .stacked-cards big, .stacked-cards h3 {
    color: #fff !important;
  }
  
  .stacked-cards section:hover {
    background-color: #e7e7e745;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); 
  }

  .stacked-cards button {
    width: 100%;
    border: none;
    outline: none;
    padding: 2rem;
  }

  .stacked-cards button i {
    display: block;
    background: #fff;
    text-align: center;
    margin-left: auto;
    color: #095f59;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-right: auto;
  }

  .card .action-area {
    padding-top: 1rem;
    margin-top: 0.5rem;
    border-top: 1px solid #095f59;
  }
  
  .card .icon-area, .card-icon-area{
    padding: 0.4rem;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
    line-height: 3rem;
  }

  .action-button {
    cursor: pointer;
  }
  
  .card {
    padding: 2rem;
    background: #fff;
    border : #ffe998 1px solid;
    border-radius: 2rem;
    width: -moz-available;
  }
  
  .card-big-text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  
  .card-row {
    display: flex;
  }
  
  .Banned {
    color: rgb(230, 34, 0) !important;   
    font-weight: bold !important;
  }
  
  .Active {
    color: green !important;
    font-weight: bold !important;
  }

  .notifications-area{
    width: 100%;
  }

  .text-center {
    text-align: center;
  }
